In [1]:
# Q1. What is a database? Differentiate between SQL and NoSQL databases.
# Ans 1 = The  database is a collection of structured data that is organized and managed in a way that allows for efficient 
# retrieval and manipulation of the data. Databases are used to store data for various purposes, 
# including business transactions, scientific research, and social media.
#  Sql is the ful form is Sturctred query lanuguage here is data store tabler format and this storing data this using for the
# complex data just like transiction history Ex : mysql ,orcale
# non sql this storing a data non tabler format NoSQL databases are generally used for applications that require large 
# amounts of unstructured or semi-structured data, such as social media or big data analytics. Examples of NoSQL 
# databases include MongoDB, Cassandra, and Couchbase

In [3]:
# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
# Ans  2 =DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and modify th structure of database objects like tables, views, indexes, and so on.
# Here are some of the commonly used DDL commands:
# CREATE: The CREATE command is used to create new database objects, such as tables, views, indexes, and 
# stored procedures. For example, the following command creates a new table named "employees" with three columns - 
# "id", "name", and "salary":
# DROP: The DROP command is used to delete existing database objects, such as tables, views, indexes, and stored procedures. For example, the following command drops
# the "employees" table
# ALTER: The ALTER command is used to modify the structure of an existing database object. For example, you can use ALTER 
# to add or remove columns from a table, or change the data type of a column. The following command adds a new column named "department" to the "employees" table:
# sql
# RUNCATE: The TRUNCATE command is used to delete all data from an existing table. This command is different from 
# DROP in that it only removes the data from the table, but keeps the table structure intact. For example, the following 
# command truncates the "employees" table:

In [2]:
# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
# Ans  3 =DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language
# used to manipulate data stored in the database. DML commands include INSERT, UPDATE, and DELETE.
# Here are some examples of DML commands:
# INSERT: The INSERT command is used to add new data to a table. For example, the following command inserts a new record 
# into the "employees"table:
# UPDATE: The UPDATE command is used to modify existing data in a table. For example, the following command updates the 
# salary of the employee with an ID of 1:
# DELETE: The DELETE command is used to remove data from a table. For example, the following command deletes the
# employee record with an ID of 1:

In [4]:
# Q4. What is DQL? Explain SELECT with an example.
# DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to query and retrieve data from a database. The most commonly 
# used DQL command is SELECT.
# SELECT * FROM employees; this is command for  using all the data in employee table 
# We can also use the SELECT command to retrieve specific columns and/or rows. For example, if we only want to retrieve
# the names and salaries of all the employees, we can use the following SELECT command:
# sqlSELECT name, salary FROM employees;
# This command will only return the "name" and "salary" columns from the "employees" table.

SyntaxError: invalid syntax (2405835663.py, line 4)

In [5]:
# Q5. Explain Primary Key and Foreign Key.
# Ans 5 A primary key is unique just like somthing id and some ac no is using those can not br repeated .
# A foreign key is a column or set of columns in one table that refers to the primary key column(s) in another table.
# It is used to establish a relationship between two tablesin a relational database.

In [ ]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
# Ans 6 The mysql is libarary we import to the import and then we connect to server we use host and user and passwrod
# the cursor is just like pointer to go the line by line to the table and execute is the way of excution something
# just like run

import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

In [ ]:
# Q7. Give the order of execution of SQL clauses in an SQL query.
# Ans 7 he order of execution of SQL clauses in an SQL query is as follows:
# FROM clause: The FROM clause specifies the tables from which the data is selected.
# WHERE clause: The WHERE clause is used to filter the data based on specified conditions.
# GROUP BY clause: The GROUP BY clause is used to group the data based on one or more columns.
# HAVING clause: The HAVING clause is used to filter the grouped data based on specified conditions.
# SELECT clause: The SELECT clause is used to select the columns that are to be displayed in the result set.
# ORDER BY clause: The ORDER BY clause is used to sort the data based on one or more columns.
# LIMIT clause: The LIMIT clause is used to limit the number of rows returned in the result set.
# Note that not all of these clauses are required for every SQL query, and they can be used in different orders 
# depending on the specific query being executed. However, this is the general 
# order of execution for a standard SQL query.